html {
    font-size: 10px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
    font-family: "Oswald", sans-serif; /* Este debe ser el resto del resultado que obtuviste de Google fonts */
    background-color: #707070;
  }

body {
    width: 600px;
    margin: 0 auto;
    background-color: #A7A7A7;
    padding: 0 20px 20px 20px;
    border: 2px solid #D1D1D1;
}
h1 {
    font-size: 70px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: #EBEBEB;
}

img {
    display: block;
    margin: 0 auto;
  }